<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>Under construction</h1>
    
    <p>This website is currently under construction!</p>

    {{> footer}}
  </body>
</html>
